@keyframes mainCircle {
  0% {
    transform: translate(-50%, -50%) scale(0, 0);
    opacity: 0;
  }

  20% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }

  46% {
    transform: translate(-50%, -50%) scale(0.2, 0.2);
    opacity: 1;
    background-color:#fdf5f6;
  }

  55% {
    transform: translate(-50%, -50%) scale(8, 8);
    opacity: 1;
  }

  65% {
    transform: translate(-50%, -50%) scale(12, 12);
    opacity: 1;
  }

  75% {
    transform: translate(-50%, -50%) scale(50, 50);
    opacity: 1;
    background-color: initial;
  }

  90% {
    opacity: 0.7;
  }

  100% {
    transform: translate(-50%, -50%) scale(0, 0);
    opacity: 0;
  }
}

@keyframes firstCirlce {
  0% {
    transform: translate(-50%, -50%) scale(5, 5);
    opacity: 0;
  }

  20% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }

  43% {
    transform: translate(-50%, -50%) scale(1.3, 1.3);
    opacity: 1;
  }

  55% {
    transform: translate(-50%, -50%) scale(1.5, 1.5);
    opacity: 1;
  }

  65% {
    transform: translate(-50%, -50%) scale(1.9, 1.9);
    opacity: 0.8;
  }

  75% {
    transform: translate(-50%, -50%) scale(2.7, 2.7);
    opacity: 0.7;
  }

  90% {
    transform: translate(-50%, -50%) scale(1.3, 1.3);
    opacity: 0.6;
  }

  100% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 0;
  }
}

@keyframes secondCircle {
  0% {
    transform: translate(-50%, -50%) scale(10, 10);
    opacity: 0;
  }

  23% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }

  40% {
    transform: translate(-50%, -50%) scale(1.6, 1.6);
    opacity: 1;
  }

  52% {
    transform: translate(-50%, -50%) scale(1.8, 1.8);
    opacity: 1;
  }

  62% {
    transform: translate(-50%, -50%) scale(2.2, 2.2);
    opacity: 0.8;
  }

  75% {
    transform: translate(-50%, -50%) scale(3, 3);
    opacity: 0.7;
  }

  85% {
    transform: translate(-50%, -50%) scale(1.6, 1.6);
    opacity: 1;
  }

  90% {
    transform: translate(-50%, -50%) scale(1.6, 1.6);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 0;
  }
}

@keyframes thirdCircle {
  0% {
    transform: translate(-50%, -50%) scale(15, 15);
    opacity: 0;
  }

  26% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }

  37% {
    transform: translate(-50%, -50%) scale(1.9, 1.9);
    opacity: 1;
  }

  49% {
    transform: translate(-50%, -50%) scale(2.1, 2.1);
    opacity: 1;
  }

  59% {
    transform: translate(-50%, -50%) scale(2.5, 2.5);
    opacity: 0.8;
  }

  75% {
    transform: translate(-50%, -50%) scale(3.3, 3.3);
    opacity: 0.7;
  }

  85% {
    transform: translate(-50%, -50%) scale(1.9, 1.9);
    opacity: 1;
  }

  90% {
    transform: translate(-50%, -50%) scale(1.9, 1.9);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 0;
  }
}

@keyframes fourthCircle {
  0% {
    transform: translate(-50%, -50%) scale(20, 20);
    opacity: 0;
  }

  29% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }

  34% {
    transform: translate(-50%, -50%) scale(2.2, 2.2);
    opacity: 1;
  }

  46% {
    transform: translate(-50%, -50%) scale(2.4, 2.4);
    opacity: 1;
  }

  56% {
    transform: translate(-50%, -50%) scale(2.8, 2.8);
    opacity: 0.8;
  }

  75% {
    transform: translate(-50%, -50%) scale(3.6, 3.6);
    opacity: 0.7;
  }

  85% {
    transform: translate(-50%, -50%) scale(2.2, 2.2);
    opacity: 1;
  }

  90% {
    transform: translate(-50%, -50%) scale(2.2, 2.2);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 0;
  }
}
